<div class="fBody">
    <div class="container">
        <div class="left">
            <div class="quote">
                <img src="../../assets/footer-section/Group 216.png" alt="Promotional Banner">
            </div>
            <div class="footer">
                <h2 style="color: #00b894; font-size: 40px;">iCeipts</h2>
                <p>Get started now - try our product</p>
                <input type="email" placeholder="Enter your email here" style="border-radius: 30px; height: 30px;  background-color: #1a1a2e; border: 2px solid white;">
                <button style="border-radius: 100px;height: 50px;">→</button>
            </div>
        </div>
        <div class="right">
            <h2>Get Started</h2>
            <form>
                <input type="text" placeholder="Enter your Name" required>
                <input type="text" placeholder="Enter your company name" required>
                <input type="email" placeholder="Enter your email" required>
                <input type="tel" placeholder="Enter your Number" required>
                <textarea placeholder="What do you want to say?" required></textarea>
                <button type="submit">Request Demo</button>
            </form>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2022 iCeipts. Copyright and rights reserved</p>
        <a href="#">Terms and Conditions • Privacy Policy</a> 
    </div>
</div>