<div class="hbody">
    <div class="navbar">
        <div class="logo">iCeipts</div>
        <div class="nav-links">
            <!-- <a href="#" class="login">Login</a> -->
            <a href="#" class="signup">Login</a>
        </div>
    </div>

    <section class="hero">
    
        <div class="hero-image" style="padding-left: 40px;">
            <img src="../../assets/header-section/Group 242.png" alt="HR Illustration" >
            <div class="buttons">
                <button class="try-btn">Try free trial</button>
                <button class="demo-btn">View Demo</button>
            </div>
        </div>
        <div class="hero-image">
            <img src="../../assets/header-section/Group 138.png" alt="HR Illustration">
           
        </div>
        
    </section>
</div>