.aBody {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 60px;
    
}
.container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
}
.feature-box img {
    width: 100%;
    border-radius: 10px;
}
.feature-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}
.feature-description {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    text-align: center;
}
.cta-button {
    background-color: #00A76F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}